bazel-*
.gradle/
target/
.flattened-pom.xml

# IDE
.idea
.ijwb
*.iml

# Vim.
*.sw*
*.vim

# Vscode Settings
.vscode/settings.json

# Python
**/__pycache__/
.venv

# library generation
**/googleapis
**/*egg-info/
**/build/
**/dist/
library_generation/**/*.jar
**/google-java-format.jar


# Compiled executable
hermetic_build/go_cmds/utils

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env